
.box{
    width: 100%;height: auto;
    background: linear-gradient(184deg, rgb(247, 162, 162) 0%, rgb(253, 132, 132) 74%);
    margin: 0;
    position:relative;
    border-radius: 10px ;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
.box_small{
    width: 15px;height: 15px;border-radius: 100%;
    background-color: rgb(221, 221, 221);
    position: absolute;
    bottom: -20px;
    z-index: 0;
}
.box_medium{
    width: 35px;height: 35px;border-radius: 100%;
    background-color: rgb(221, 221, 221);
    position: absolute;
    bottom: -20px;
    z-index: 0;
}
.box_large{
    width: 100px;height: 100px;border-radius: 100%;
    background-color: rgb(221, 221, 221);
    position: absolute;
    bottom: -20px;
    z-index: 0;
}
.center{
    width: 100%;
    height:auto;    
    display: flex;
    justify-content: center;
    flex-direction: row;
 }
.center_text_box{
    width:85%;
    height: 100%;
    float: right;
    padding: 20px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}
.nav_title{
    width: 100%;
    height: auto;
    font-family: iransansweb,sans-serif;
    text-align: right;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    direction: rtl;
}
.nav_title_a{
    width: 150px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 0px;
    font-family: iranyekanweb;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);text-align: center;
    padding: 15px 0px 0px 0px;
    background-color: rgb(182, 36, 36);
    z-index: 3;
    position: relative;
}
.center_text_box_mention{
    width:100%;
    height: auto;
    font-size: 16px;
    text-align: right;
    line-height: 2;
    color:rgb(0, 0, 0);
    direction: rtl;
    float: right;
    margin: 20px 0px 20px 0px;
    font-family: iransansweb,sans-serif;
    z-index: 3;
}

/*--------------------------------------) Start --> box_small (------------------------------------------------*/

.box_small1{
    animation: mini_box1 6s infinite normal;
}
.box_small2{
    animation: mini_box2 3s infinite normal;
}
.box_small3{
    animation: mini_box3 8s infinite normal;
}
.box_small4{
    animation: mini_box4 7s infinite normal;
}
.box_small5{
    animation: mini_box5 3s infinite normal;
}
.box_small6{
    animation: mini_box6 4s infinite normal;
}
.box_small7{
    animation: mini_box7 6s infinite normal;
}
.box_small8{
    animation: mini_box8 4s infinite normal;
}


@keyframes mini_box1{
   0%{
        bottom:0%;
        opacity: 0;
    }
    5%{
       
        
        
    }
    10%{
      
        
    }
    15%{
       
    }
    20%{

    }
    25%{
        
    }
    30%{
         opacity: 1; 
    }
    35%{
      left: 14%;
    }
    40%{
 
    }
    45%{
       
    }
    50%{
     
    }
    55%{
         left: 13%;
    }
    60%{
        opacity: 0;
    }
    65%{

    }
    70%{
      
       opacity: 0;
    }
    75%{
       
    }
    80%{
        
    }
    85%{
      
    }
    90%{
       
    }
    95%{
 
    }
    100%{
        bottom: 100%;
        opacity: 0;
        left: 14%; 
    }
}
@keyframes mini_box2{
    0%{
         bottom:0%;
         opacity: 0;
         left: 20%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 23%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 24%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }
 @keyframes mini_box3{
    0%{
         bottom:0%;
         opacity: 0;
         left: 40%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 43%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 44%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }
 @keyframes mini_box4{
    0%{
         bottom:0%;
         opacity: 0;
         left: 60%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 65%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 64%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }
 @keyframes mini_box5{
    0%{
         bottom:0%;
         opacity: 0;
         left: 80%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 82%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 84%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }
 @keyframes mini_box6{
    0%{
         bottom:0%;
         opacity: 0;
         left: 15%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 19%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 17%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }
 @keyframes mini_box7{
    0%{
         bottom:0%;
         opacity: 0;
         left: 30%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 32%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 34%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }
 @keyframes mini_box8{
    0%{
         bottom:0%;
         opacity: 0;
         left: 58%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
 
     }
     25%{
         
     }
     30%{
          opacity: 1; 
     }
     35%{
       left: 60%;
     }
     40%{
  
     }
     45%{
        
     }
     50%{
      
     }
     55%{
          left: 63%;
     }
     60%{
         opacity: 0;
     }
     65%{
 
     }
     70%{
       
        opacity: 0;
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  
     }
     100%{
         bottom: 100%;
         opacity: 0;
     }
 }

/*--------------------------------------) box_small <-- End (------------------------------------------------*/




/*--------------------------------------) Start --> box_medium (------------------------------------------------*/

.box_medium1{
    animation: box_medium1 3s infinite normal;
}
@keyframes box_medium1{
    0%{
         bottom:0%;
         opacity: 0;
         left: 5%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
   left: 3%;
     }
     25%{
         
     }
     30%{
          opacity: .8; 
     }
     35%{
     
     }
     40%{
  
     }
     45%{
         
     }
     50%{
 
     }
     55%{
          left: 6%;
     }
     60%{
             opacity: 0;
     }
     65%{
 
     }
     70%{
       
       
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{

     }
     100%{
         bottom: 90%;
         opacity: 0;
     }
 }



 .box_medium2{
    animation: box_medium2 5.5s infinite;
}

@keyframes box_medium2{
    0%{
         bottom:0%;
         opacity: 0;
         left: 30%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
  opacity: .2; 
     }
     25%{
         
     }
     30%{
         
     }
     35%{
       left: 32%;
     }
     40%{
    opacity: 0;
     }
     45%{
       
     }
     50%{
      
     }
     55%{
          left: 35%;
     }
     60%{
        
     }
     65%{
 
     }
     70%{
       
       
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
  left: 15%; 
     }
     100%{
         bottom: 90%;
         opacity: 0;
     }
 }
 .box_medium3{
    animation: box_medium3 4s infinite;
}

@keyframes box_medium3{
    0%{
         bottom:0%;
         opacity: 0;
         left: 50%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
  opacity: .2; 
     }
     25%{
         
     }
     30%{
         
     }
     35%{
       left: 55%;
     }
     40%{
    opacity: 0;
     }
     45%{
       
     }
     50%{
      
     }
     55%{
          left: 58%;
     }
     60%{
        
     }
     65%{
 
     }
     70%{
       
       
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
 
     }
     100%{
         bottom: 80%;
         opacity: 0;
     }
 }

 .box_medium4{
    animation: box_medium4 3.4s infinite;
}

@keyframes box_medium4{
    0%{
         bottom:0%;
         opacity: 0;
         left: 75%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
  opacity: .2; 
     }
     25%{
         
     }
     30%{
         
     }
     35%{
       left: 79%;
     }
     40%{
    opacity: 0;
     }
     45%{
       
     }
     50%{
      
     }
     55%{
          left: 75%;
     }
     60%{
        
     }
     65%{
 
     }
     70%{
       
       
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{
 
     }
     100%{
         bottom: 80%;
         opacity: 0;
     }
 }
 /*--------------------------------------) box_medium <-- End (------------------------------------------------*/





/*--------------------------------------) Start --> box_large (------------------------------------------------*/
 .box_large1{
    animation: box_large1 6s infinite normal;
}
.box_large2{
    animation: box_large2 9s infinite normal;
}
.box_large3{
    animation: box_large3 5s infinite normal;
}
.box_large4{
    animation: box_large4 8s infinite normal;
}



@keyframes box_large1{
    0%{
         bottom:0%;
         opacity: 0;
         left: 3%;
     }
     5%{
        
         
         
     }
     10%{
       
         
     }
     15%{
        
     }
     20%{
   left: 5%;
     }
     25%{
         
     }
     30%{
          opacity: .2; 
     }
     35%{
     
     }
     40%{
  
     }
     45%{
         
     }
     50%{
 
     }
     55%{
          left: 1%;
     }
     60%{
             opacity: 0;
     }
     65%{
 
     }
     70%{
       
       
     }
     75%{
        
     }
     80%{
         
     }
     85%{
       
     }
     90%{
        
     }
     95%{

     }
     100%{
         bottom: 80%;
         opacity: 0;
     }
 }
@keyframes box_large2{
    0%{
        bottom:0%;
        opacity: 0;
        left: 17%;
    }
    5%{
        
        
        
    }
    10%{
    
        
    }
    15%{
        
    }
    20%{

    }
    25%{
        
    }
    30%{
        opacity: .3; 
    }
    35%{
    left: 20%;
    }
    40%{

    }
    45%{
        
    }
    50%{
    
    }
    55%{
        left: 16%;
    }
    60%{
        opacity: 0;
    }
    65%{

    }
    70%{
    
        opacity: 0;
    }
    75%{
        
    }
    80%{
        
    }
    85%{
    
    }
    90%{
        
    }
    95%{

    }
    100%{
        bottom: 80%;
        opacity: 0;
    }
}
@keyframes box_large3{
    0%{
        bottom:0%;
        opacity: 0;
        left: 49%;
    }
    5%{
        
        
        
    }
    10%{
    
        
    }
    15%{
        
    }
    20%{

    }
    25%{
        
    }
    30%{
        opacity: .2; 
    }
    35%{
    left: 53%;
    }
    40%{

    }
    45%{
        
    }
    50%{
    
    }
    55%{
        left: 54%;
    }
    60%{
        opacity: 0;
    }
    65%{

    }
    70%{
    
    
    }
    75%{
        
    }
    80%{
        
    }
    85%{
    
    }
    90%{
        
    }
    95%{

    }
    100%{
        bottom: 80%;
        opacity: 0;
    }
}
@keyframes box_large4{
    0%{
        bottom:0%;
        opacity: 0;
        left: 90%;
    }
    5%{
        
        
        
    }
    10%{
    
        
    }
    15%{
        
    }
    20%{

    }
    25%{
        
    }
    30%{
        opacity: .3; 
    }
    35%{
    left: 95%;
    }
    40%{

    }
    45%{
        
    }
    50%{
    
    }
    55%{
        left: 92%;
    }
    60%{
        opacity: 0;
    }
    65%{

    }
    70%{
    
    }
    75%{
        
    }
    80%{
        
    }
    85%{
    
    }
    90%{
        
    }
    95%{

    }
    100%{
        bottom: 70%;
        opacity: 0;
    }
}



 /*--------------------------------------) box_large <-- End (------------------------------------------------*/




 .img_box{
    width: 20%;  height:auto;    

    display: flex;align-items: center;
    justify-content: center;
    float: right;   

}
.img{
    width: 100%;height: auto;
    z-index: 2; position: relative;

    animation: imganim 3s linear infinite alternate;

 }    
 @keyframes imganim{
     0%{
        bottom:10px;
        
       
     }
     100%{
        bottom:-10px;
        
     }
 } 