.parent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 0 20px 20px 0;
    margin-top: 20px;
}
.checkoutParent{
    width: 420px;
    height: 100%;
    position: relative;
    border-radius: 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-right: 0;
}
.userInfo{
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    border-radius: 10px;
}
.userInfo_fixed{
    background-color: rgb(255, 185, 185);
    padding: 1px 20px 20px 20px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
}
.userInfo .userInfo_item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 15px;
}
.cartTotalPrice{
    border-top: 1px solid brown;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
}
.cartBtn{
    border : none;
    outline: none;
    background-color: brown;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size:13px;
    font-family: iranyekanweb;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 gray;
    cursor: pointer;
}
.cartBtn:hover{
    background-color: rgb(189, 0, 0);
    box-shadow: unset;
    
}
.userInfo div p:nth-child(2){
    font-family: iranyekanweb;
}
.userInfo div p:nth-child(1){
    font-family: iransansweb;
}
.cartInfo{
    width: 100%;
    height: auto;
    padding: 0 0 0 20px;
}
@media only screen and (min-width : 320px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 100%;
        height: 100%;
        padding: 0 0 0 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 1px 20px 20px 20px;
        border-radius: 10px;
        width: 100%;
        height: auto;
        position: relative;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 460px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 100%;
        height: 100%;
        padding: 0 0 0 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 1px 20px 20px 20px;
        border-radius: 10px;
        width: 100%;
        height: auto;
        position: relative;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 600px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 100%;
        height: 100%;
        padding: 0 0 0 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 1px 20px 20px 20px;
        border-radius: 10px;
        width: 100%;
        height: auto;
        position: relative;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 720px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 100%;
        height: 100%;
        padding: 0 0 0 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 1px 20px 20px 20px;
        border-radius: 10px;
        width: 100%;
        height: auto;
        position: relative;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 800px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 500px;
        height: 100%;
        padding: 0 20px 20px 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        width: 300px;
        height: auto;
        position: fixed;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 960px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 580px;
        height: 100%;
        padding: 0 20px 20px 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        width: 350px;
        height: auto;
        position: fixed;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 1080px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 540px;
        height: 100%;
        padding: 0 20px 20px 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        width: 350px;
        height: auto;
        position: fixed;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 1180px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 520px;
        height: 100%;
        padding: 0 20px 20px 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        width: 350px;
        height: auto;
        position: fixed;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 1260px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px 20px 0;
        margin-top: 20px;
    }
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .userInfo{
        width: 500px;
        height: 100%;
        padding: 0 20px 20px 20px;
        border-radius: 10px;
    }
    .userInfo_fixed{
        background-color: rgb(255, 185, 185);
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        width: 350px;
        height: auto;
        position: fixed;
    }
    .userInfo .userInfo_item{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
    }
    .cartTotalPrice{
        border-top: 1px solid brown;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .cartBtn{
        border : none;
        outline: none;
        background-color: brown;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-size:13px;
        font-family: iranyekanweb;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 gray;
        cursor: pointer;
    }
    .cartBtn:hover{
        background-color: rgb(189, 0, 0);
        box-shadow: unset;
        
    }
    .userInfo div p:nth-child(2){
        font-family: iranyekanweb;
    }
    .userInfo div p:nth-child(1){
        font-family: iransansweb;
    }
    .cartInfo{
        width: 100%;
        height: auto;
        padding: 0 0 0 20px;
    }
}
@media only screen and (min-width : 1366px){} 