.loader_wrapper{
    padding: 11px 11.5px;
    width: auto;
    height: auto;
    position: relative;
}

.loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 3px solid rgb(255, 255, 255);
    border-right: 3px solid transparent;
    animation: spinner .6s linear infinite;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}