    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    .alert_product{
        width: 100%;
        height: auto;
        font-family: iransansweb;
        background-color: rgb(255, 188, 188);
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alert_product a {
        text-decoration: none;
        color: rgb(196, 0, 0);
        font-weight: 700;
    }
    .alert_product p{
        margin: 0 5px;
    }
    
    .checkoutParent{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 100%;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: relative;
        
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }

    
    .Slider_categoryParent{
        margin: 20px 20px 0 0;

    }
.categoryLine_parent{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
margin-top: 7px;
    /* margin-bottom: 20px; */
}
.categoryLine_parent div{
    background-color:  red;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    margin-left: 5px;
}
.categoryLine_parent div:last-child{
    background-color:  red;
    height: 5px;
    width: 70px;
    border-radius: 100px;
    margin-left: 5px;
}
.Slider_categoryLink{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-family: iransansweb;
} 
.Slider_categoryParent_icon{
    margin-right: 5px;
}
.isNotProductText{
    color:rgb(0, 117, 0);
    margin-top: 20px;
    font-family: iranyekanweb;
    font-weight: 700;
    text-align: center;
}
@media only screen and (min-width : 320px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;

    }
    
    .checkoutParent{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;

        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 100%;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: relative;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
}
@media only screen and (min-width : 460px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;

    }
    
    .checkoutParent{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;

        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 100%;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: relative;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
   
}
@media only screen and (min-width : 600px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;

    }
    
    .checkoutParent{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;

        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 100%;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: relative;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
    
}
@media only screen and (min-width : 720px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    
    .checkoutParent{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 100%;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: relative;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
    
}
@media only screen and (min-width : 800px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 40px;
    }
    
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 20px;
        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 300px;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: fixed;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
  
}
@media only screen and (min-width : 960px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 300px;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: fixed;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
   
}
@media only screen and (min-width : 1080px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 300px;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: fixed;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
   
}
@media only screen and (min-width : 1180px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 300px;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: fixed;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
  
}
@media only screen and (min-width : 1260px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0px;
     
        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 300px;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: fixed;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
    
}
@media only screen and (min-width : 1366px){
    .parent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 20px;
        margin-top: 20px;
    }
    .cartParent{
        width: 100%;
        margin-right: 20px;
    }
    
    .checkoutParent{
        width: 420px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        margin-right: 0px;
     
        
    }
    .checkOut_Fixed{
        padding: 15px 0 0 0;
        width: 300px;
        background-color: rgb(255, 199, 199);
        border-radius: 5px;
        position: fixed;
    }
    .Allprice{
        margin: 20px 0;line-height: 35px;
        padding: 0 20px;
        font-family: iransansweb;
        font-size: 14px;
    }
    .Allprice div{
        display: flex;
        justify-content: space-between;
    
    }
    .price{
        border-top:1px solid gray ;
        padding: 20px 0;
        text-align: center;
        font-family: iranyekanweb , iransansweb;
        /* margin-top: 20px; */
    }
    .checkout_header{
        width: 100%;
        height: auto;
        /* margin-top: 15px; */
        text-align: center;
        font-family: iranyekanweb;
    }
    .cart_header{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: iranyekanweb;
        color: white;
        padding: 0 20px;
        background-color: rgba(37, 37, 37, 0.76);
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    
    .checkout_submit{
        width: 100%;
        padding: 13px 10px;
        outline: none;
        border-radius: 5px;
        background-color: brown;
        color: white;
        font-family: iranyekanweb;
        position: absolute;
        bottom: -60px;
        cursor: pointer;
        border: none;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
    .checkout_submit:hover{
        background-color: rgb(207, 60, 60);
    }
}