.parent{
    padding: 0 20px;
}
.product{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    min-height: unset;
    max-height: unset;
}
.imgParent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgParent img{
    width: auto;
    height: auto;
    max-height: 200px;
}
.productDesc{
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}
.productTitle{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20; */
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-top: 0;
}
.productTitle p{
    font-family: iransansweb;
    font-size: 14px;
}
.likeParent{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 20px;
    background-color: rgba(255, 83, 83, 0.11);
    border-radius:20px;
    opacity: 1;
    font-family: iransansweb;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 20px;
}
.likeParent span{
    color: rgb(99, 98, 98);
    margin-left: 5px;
}
.likeParent p{
    margin-left: 3px;
}
.item:hover .likeParent{
    opacity: 1;
}
.likeParent div{
    background-color: transparent;

    cursor: pointer;
    color: rgb(0, 0, 0);
}
.likeParent div:nth-child(1){
    color: rgb(0, 0, 0);
}

.productCategory{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: right;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    padding: 0px;
}
.productCategory p{
    font-family: iransansweb;
    font-size: 14px;
    padding-bottom: 20px;

    /* padding: 0px; */
}
.productCategory button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: iransansweb;
    color: rgb(68, 68, 68);
    /* margin-top: 10px; */
    padding: 0px;
    margin-bottom: 20px;

}
.productCategory_like{
    margin-left: 5px;
}
.productPrice{
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: iransansweb;
    font-size: 14px;
}
.priceText{
    margin:0 0 20px 0;
}
.productPrice_discount{
    display: flex;
    margin:0 0 20px 0;
}
.productPrice_discount p:nth-child(1){
    font-size:13px ;
    margin-right:5px ;
    color: red;
}
.productPrice_discount p:nth-child(2){
    color: rgb(219, 2, 2);
}
.buyProductParent{
    width: 100%;
    height: auto;
    margin-top: 0px;
}
.buyProductParent button{
    padding: 9px 25px;
    outline: none;
    border: none;
    background-color: rgb(182, 2, 2);
    font-family: iransansweb;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}



.productDescribtion{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}
.productDescribtion p:nth-child(1){
    font-family: iranyekanweb;
    font-weight: 700;
}
.productDescribtion p:nth-child(2){
    font-family: iransansweb;
    margin-top: 20px;
}




.Slider_categoryParent{
    margin-top: 20px;
    
}

.categoryLine_parent{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    /* margin-bottom: 20px; */
}
.categoryLine_parent div{
    background-color:  red;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    margin-left: 5px;
}
.categoryLine_parent div:last-child{
    background-color:  red;
    height: 5px;
    width: 70px;
    border-radius: 100px;
    margin-left: 5px;
}
.Slider_categoryLink{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-family: iransansweb;
} 
.Slider_categoryParent_icon{
    margin-right: 5px;
}

@media only screen and (min-width:320px){
    .parent{
        padding: 0 20px;
    }
    .product{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        min-height: unset;
        max-height: unset;
    }
    .imgParent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgParent img{
        width: auto;
        height: auto;
        max-height: 200px;
    }
    .productDesc{
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;
    }
    .productTitle{
        display: flex;
        justify-content: space-between;
        /* padding: 0 20; */
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .productTitle p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .likeParent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 20px;
        background-color: rgba(255, 83, 83, 0.11);
        border-radius:20px;
        opacity: 1;
        font-family: iransansweb;
        font-size: 14px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .likeParent span{
        color: rgb(99, 98, 98);
        margin-left: 5px;
    }
    .likeParent p{
        margin-left: 3px;
    }
    .item:hover .likeParent{
        opacity: 1;
    }
    .likeParent div{
        background-color: transparent;
    
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .likeParent div:nth-child(1){
        color: rgb(0, 0, 0);
    }
    
    .productCategory{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        text-align: right;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        padding: 0px;
    }
    .productCategory p{
        font-family: iransansweb;
        font-size: 14px;
        padding-bottom: 20px;
    
        /* padding: 0px; */
    }
    .productCategory button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransansweb;
        color: rgb(68, 68, 68);
        /* margin-top: 10px; */
        padding: 0px;
        margin-bottom: 20px;
    
    }
    .productCategory_like{
        margin-left: 5px;
    }
    .productPrice{
        display: flex;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-family: iransansweb;
        font-size: 14px;
    }
    .priceText{
        margin:0 0 20px 0;
    }
    .productPrice_discount{
        display: flex;
        margin:0 0 20px 0;
    }
    .productPrice_discount p:nth-child(1){
        font-size:13px ;
        margin-right:5px ;
        color: red;
    }
    .productPrice_discount p:nth-child(2){
        color: rgb(219, 2, 2);
    }
    .buyProductParent{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .buyProductParent button{
        padding: 9px 25px;
        outline: none;
        border: none;
        background-color: rgb(182, 2, 2);
        font-family: iransansweb;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    
    }
    
    
    
    .productDescribtion{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .productDescribtion p:nth-child(1){
        font-family: iranyekanweb;
        font-weight: 700;
    }
    .productDescribtion p:nth-child(2){
        font-family: iransansweb;
        margin-top: 20px;
    }
    
    
    
    
    .Slider_categoryParent{
        margin-top: 20px;
        
    }
    
    .categoryLine_parent{
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    
        /* margin-bottom: 20px; */
    }
    .categoryLine_parent div{
        background-color:  red;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        margin-left: 5px;
    }
    .categoryLine_parent div:last-child{
        background-color:  red;
        height: 5px;
        width: 70px;
        border-radius: 100px;
        margin-left: 5px;
    }
    .Slider_categoryLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-family: iransansweb;
    } 
    .Slider_categoryParent_icon{
        margin-right: 5px;
    }
}
@media only screen and (min-width:460px){
    .parent{
        padding: 0 20px;
    }
    .product{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        min-height: unset;
        max-height: unset;
    }
    .imgParent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgParent img{
        width: auto;
        height: auto;
        max-height: 200px;
    }
    .productDesc{
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;
    }
    .productTitle{
        display: flex;
        justify-content: space-between;
        /* padding: 0 20; */
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .productTitle p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .likeParent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 20px;
        background-color: rgba(255, 83, 83, 0.11);
        border-radius:20px;
        opacity: 1;
        font-family: iransansweb;
        font-size: 14px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .likeParent span{
        color: rgb(99, 98, 98);
        margin-left: 5px;
    }
    .likeParent p{
        margin-left: 3px;
    }
    .item:hover .likeParent{
        opacity: 1;
    }
    .likeParent div{
        background-color: transparent;
    
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .likeParent div:nth-child(1){
        color: rgb(0, 0, 0);
    }
    
    .productCategory{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        text-align: right;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        padding: 0px;
    }
    .productCategory p{
        font-family: iransansweb;
        font-size: 14px;
        padding-bottom: 20px;
    
        /* padding: 0px; */
    }
    .productCategory button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransansweb;
        color: rgb(68, 68, 68);
        /* margin-top: 10px; */
        padding: 0px;
        margin-bottom: 20px;
    
    }
    .productCategory_like{
        margin-left: 5px;
    }
    .productPrice{
        display: flex;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-family: iransansweb;
        font-size: 14px;
    }
    .priceText{
        margin:0 0 20px 0;
    }
    .productPrice_discount{
        display: flex;
        margin:0 0 20px 0;
    }
    .productPrice_discount p:nth-child(1){
        font-size:13px ;
        margin-right:5px ;
        color: red;
    }
    .productPrice_discount p:nth-child(2){
        color: rgb(219, 2, 2);
    }
    .buyProductParent{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .buyProductParent button{
        padding: 9px 25px;
        outline: none;
        border: none;
        background-color: rgb(182, 2, 2);
        font-family: iransansweb;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    
    }
    
    
    
    .productDescribtion{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .productDescribtion p:nth-child(1){
        font-family: iranyekanweb;
        font-weight: 700;
    }
    .productDescribtion p:nth-child(2){
        font-family: iransansweb;
        margin-top: 20px;
    }
    
    
    
    
    .Slider_categoryParent{
        margin-top: 20px;
        
    }
    
    .categoryLine_parent{
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    
        /* margin-bottom: 20px; */
    }
    .categoryLine_parent div{
        background-color:  red;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        margin-left: 5px;
    }
    .categoryLine_parent div:last-child{
        background-color:  red;
        height: 5px;
        width: 70px;
        border-radius: 100px;
        margin-left: 5px;
    }
    .Slider_categoryLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-family: iransansweb;
    } 
    .Slider_categoryParent_icon{
        margin-right: 5px;
    }
}
@media only screen and (min-width:600px){
    .parent{
        padding: 0 20px;
    }
    .product{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        min-height: unset;
        max-height: unset;
    }
    .imgParent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgParent img{
        width: auto;
        height: auto;
        max-height: 200px;
    }
    .productDesc{
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;
    }
    .productTitle{
        display: flex;
        justify-content: space-between;
        /* padding: 0 20; */
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .productTitle p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .likeParent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 20px;
        background-color: rgba(255, 83, 83, 0.11);
        border-radius:20px;
        opacity: 1;
        font-family: iransansweb;
        font-size: 14px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .likeParent span{
        color: rgb(99, 98, 98);
        margin-left: 5px;
    }
    .likeParent p{
        margin-left: 3px;
    }
    .item:hover .likeParent{
        opacity: 1;
    }
    .likeParent div{
        background-color: transparent;
    
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .likeParent div:nth-child(1){
        color: rgb(0, 0, 0);
    }
    
    .productCategory{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        text-align: right;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        padding: 0px;
    }
    .productCategory p{
        font-family: iransansweb;
        font-size: 14px;
        padding-bottom: 20px;
    
        /* padding: 0px; */
    }
    .productCategory button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransansweb;
        color: rgb(68, 68, 68);
        /* margin-top: 10px; */
        padding: 0px;
        margin-bottom: 20px;
    
    }
    .productCategory_like{
        margin-left: 5px;
    }
    .productPrice{
        display: flex;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-family: iransansweb;
        font-size: 14px;
    }
    .priceText{
        margin:0 0 20px 0;
    }
    .productPrice_discount{
        display: flex;
        margin:0 0 20px 0;
    }
    .productPrice_discount p:nth-child(1){
        font-size:13px ;
        margin-right:5px ;
        color: red;
    }
    .productPrice_discount p:nth-child(2){
        color: rgb(219, 2, 2);
    }
    .buyProductParent{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .buyProductParent button{
        padding: 9px 25px;
        outline: none;
        border: none;
        background-color: rgb(182, 2, 2);
        font-family: iransansweb;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    
    }
    
    
    
    .productDescribtion{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .productDescribtion p:nth-child(1){
        font-family: iranyekanweb;
        font-weight: 700;
    }
    .productDescribtion p:nth-child(2){
        font-family: iransansweb;
        margin-top: 20px;
    }
    
    
    
    
    .Slider_categoryParent{
        margin-top: 20px;
        
    }
    
    .categoryLine_parent{
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    
        /* margin-bottom: 20px; */
    }
    .categoryLine_parent div{
        background-color:  red;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        margin-left: 5px;
    }
    .categoryLine_parent div:last-child{
        background-color:  red;
        height: 5px;
        width: 70px;
        border-radius: 100px;
        margin-left: 5px;
    }
    .Slider_categoryLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-family: iransansweb;
    } 
    .Slider_categoryParent_icon{
        margin-right: 5px;
    }
}
@media only screen and (min-width:720px){
    .parent{
        padding: 0 20px;
    }
    .product{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        min-height: unset;
        max-height: unset;
    }
    .imgParent{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgParent img{
        width: auto;
        height: auto;
        max-height: 200px;
    }
    .productDesc{
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;
    }
    .productTitle{
        display: flex;
        justify-content: space-between;
        /* padding: 0 20; */
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .productTitle p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .likeParent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 20px;
        background-color: rgba(255, 83, 83, 0.11);
        border-radius:20px;
        opacity: 1;
        font-family: iransansweb;
        font-size: 14px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .likeParent span{
        color: rgb(99, 98, 98);
        margin-left: 5px;
    }
    .likeParent p{
        margin-left: 3px;
    }
    .item:hover .likeParent{
        opacity: 1;
    }
    .likeParent div{
        background-color: transparent;
    
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .likeParent div:nth-child(1){
        color: rgb(0, 0, 0);
    }
    
    .productCategory{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        text-align: right;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        padding: 0px;
    }
    .productCategory p{
        font-family: iransansweb;
        font-size: 14px;
        padding-bottom: 20px;
    
        /* padding: 0px; */
    }
    .productCategory button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransansweb;
        color: rgb(68, 68, 68);
        /* margin-top: 10px; */
        padding: 0px;
        margin-bottom: 20px;
    
    }
    .productCategory_like{
        margin-left: 5px;
    }
    .productPrice{
        display: flex;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-family: iransansweb;
        font-size: 14px;
    }
    .priceText{
        margin:0 0 20px 0;
    }
    .productPrice_discount{
        display: flex;
        margin:0 0 20px 0;
    }
    .productPrice_discount p:nth-child(1){
        font-size:13px ;
        margin-right:5px ;
        color: red;
    }
    .productPrice_discount p:nth-child(2){
        color: rgb(219, 2, 2);
    }
    .buyProductParent{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .buyProductParent button{
        padding: 9px 25px;
        outline: none;
        border: none;
        background-color: rgb(182, 2, 2);
        font-family: iransansweb;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    
    }
    
    
    
    .productDescribtion{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .productDescribtion p:nth-child(1){
        font-family: iranyekanweb;
        font-weight: 700;
    }
    .productDescribtion p:nth-child(2){
        font-family: iransansweb;
        margin-top: 20px;
    }
    
    
    
    
    .Slider_categoryParent{
        margin-top: 20px;
        
    }
    
    .categoryLine_parent{
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    
        /* margin-bottom: 20px; */
    }
    .categoryLine_parent div{
        background-color:  red;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        margin-left: 5px;
    }
    .categoryLine_parent div:last-child{
        background-color:  red;
        height: 5px;
        width: 70px;
        border-radius: 100px;
        margin-left: 5px;
    }
    .Slider_categoryLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-family: iransansweb;
    } 
    .Slider_categoryParent_icon{
        margin-right: 5px;
    }
}
@media only screen and (min-width:800px){
    .parent{
        padding: 0 20px;
    }
    .product{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        min-height: 260px;
        max-height: 200px;
    }
    .imgParent{
        width: 200px;
        height: auto;
        display: flex;
        align-items: center;
    }
    .imgParent img{
        width: 100%;
        height: auto;
        max-height: 80%;
    }
    .productDesc{
        width: 100%;
        height: auto;
        padding: 0 20px 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
    }
    .productTitle{
        display: flex;
        justify-content: space-between;
        /* padding: 0 20; */
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    .productTitle p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .likeParent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 20px;
        background-color: rgba(255, 83, 83, 0.11);
        border-radius:20px;
        opacity: 1;
        font-family: iransansweb;
        font-size: 14px;
        margin: 0;
    }
    .likeParent span{
        color: rgb(99, 98, 98);
        margin-left: 5px;
    }
    .likeParent p{
        margin-left: 3px;
    }
    .item:hover .likeParent{
        opacity: 1;
    }
    .likeParent div{
        background-color: transparent;
    
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .likeParent div:nth-child(1){
        color: rgb(0, 0, 0);
    }
    
    .productCategory{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .productCategory p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .productCategory button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransansweb;
        color: rgb(68, 68, 68);
    }
    .productCategory_like{
        margin-left: 5px;
    }
    .productPrice{
        display: flex;
    
        justify-content: space-between;
        align-items: center;
        font-family: iransansweb;
        font-size: 14px;
    }
    .productPrice_discount{
        display: flex;
    }
    .productPrice_discount p:nth-child(1){
        font-size:13px ;
        margin-right:5px ;
        color: red;
    }
    .productPrice_discount p:nth-child(2){
        color: rgb(219, 2, 2);
    }
    .buyProductParent{
        width: 100%;
        height: auto;
    }
    .buyProductParent button{
        padding: 11px 35px;
        outline: none;
        border: none;
        background-color: rgb(182, 2, 2);
        font-family: iransansweb;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    
    }
    
    
    
    .productDescribtion{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .productDescribtion p:nth-child(1){
        font-family: iranyekanweb;
        font-weight: 700;
    }
    .productDescribtion p:nth-child(2){
        font-family: iransansweb;
        margin-top: 20px;
    }
    
    
    
    
    .Slider_categoryParent{
        margin-top: 20px;
        
    }
    
    .categoryLine_parent{
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    
        /* margin-bottom: 20px; */
    }
    .categoryLine_parent div{
        background-color:  red;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        margin-left: 5px;
    }
    .categoryLine_parent div:last-child{
        background-color:  red;
        height: 5px;
        width: 70px;
        border-radius: 100px;
        margin-left: 5px;
    }
    .Slider_categoryLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-family: iransansweb;
    } 
    .Slider_categoryParent_icon{
        margin-right: 5px;
    }
}
@media only screen and (min-width:960px){
    .parent{
        padding: 0 20px;
    }
    .product{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 20px;
        margin-top: 20px;
        background-color: white;
        min-height: 260px;
        max-height: 200px;
    }
    .imgParent{
        width: 200px;
        height: auto;
        display: flex;
        align-items: center;
    }
    .imgParent img{
        width: 100%;
        height: auto;
        max-height: 80%;
    }
    .productDesc{
        width: 100%;
        height: auto;
        padding: 0 20px 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
    }
    .productTitle{
        display: flex;
        justify-content: space-between;
        /* padding: 0 20; */
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    .productTitle p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .likeParent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 20px;
        background-color: rgba(255, 83, 83, 0.11);
        border-radius:20px;
        opacity: 1;
        font-family: iransansweb;
        font-size: 14px;
        margin: 0;
    }
    .likeParent span{
        color: rgb(99, 98, 98);
        margin-left: 5px;
    }
    .likeParent p{
        margin-left: 3px;
    }
    .item:hover .likeParent{
        opacity: 1;
    }
    .likeParent div{
        background-color: transparent;
    
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    .likeParent div:nth-child(1){
        color: rgb(0, 0, 0);
    }
    
    .productCategory{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .productCategory p{
        font-family: iransansweb;
        font-size: 14px;
    }
    .productCategory button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransansweb;
        color: rgb(68, 68, 68);
    }
    .productCategory_like{
        margin-left: 5px;
    }
    .productPrice{
        display: flex;
    
        justify-content: space-between;
        align-items: center;
        font-family: iransansweb;
        font-size: 14px;
    }
    .productPrice_discount{
        display: flex;
    }
    .productPrice_discount p:nth-child(1){
        font-size:13px ;
        margin-right:5px ;
        color: red;
    }
    .productPrice_discount p:nth-child(2){
        color: rgb(219, 2, 2);
    }
    .buyProductParent{
        width: 100%;
        height: auto;
    }
    .buyProductParent button{
        padding: 11px 35px;
        outline: none;
        border: none;
        background-color: rgb(182, 2, 2);
        font-family: iransansweb;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    
    }
    
    
    
    .productDescribtion{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .productDescribtion p:nth-child(1){
        font-family: iranyekanweb;
        font-weight: 700;
    }
    .productDescribtion p:nth-child(2){
        font-family: iransansweb;
        margin-top: 20px;
    }
    
    
    
    
    .Slider_categoryParent{
        margin-top: 20px;
        
    }
    
    .categoryLine_parent{
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    
        /* margin-bottom: 20px; */
    }
    .categoryLine_parent div{
        background-color:  red;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        margin-left: 5px;
    }
    .categoryLine_parent div:last-child{
        background-color:  red;
        height: 5px;
        width: 70px;
        border-radius: 100px;
        margin-left: 5px;
    }
    .Slider_categoryLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-family: iransansweb;
    } 
    .Slider_categoryParent_icon{
        margin-right: 5px;
    }
}
@media only screen and (min-width:1080px){}
@media only screen and (min-width:1180px){}
@media only screen and (min-width:1260px){}
@media only screen and (min-width:1366px){}