
.swiperParent_ProductPage {
    width: 100%;
    height: 100%;
    margin: 10px 0 20px 0;
  }
  .swiperParent_ProductPage .swiper-wrapper{
    overflow: unset;
    border-radius: 10px;

  }
  .swiperParent_ProductPage .swiper-button-next ,  .swiperParent_ProductPage  .swiper-button-prev{
    width: 45px;
    height: 45px; opacity: 1;
    border-radius: 6px;
    background-color:rgb(167, 0, 0);
    color: rgb(255, 255, 255);
}
  
  .swiperParent_ProductPage .swiper-button-next {
    right: 0px;
  }
  .swiperParent_ProductPage .swiper-button-prev {
    left: 0px;
  }
 .swiperParent_ProductPage .swiper-button-next::after, .swiperParent_ProductPage  .swiper-button-prev::after { 
    font-size: 16px;
    color: rgb(255, 255, 255);
   }

 .swiperParent_ProductPage .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: auto;
  }
  
  .swiperParent_ProductPage .swiper-slide img {
    width: auto;
    /* height: 75%; */
  } 

