.header{
    width: 100%;
    height: 70px;
    background-color: #a71e34;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
.header_right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_right{
    color: white;
}
.header_right a {
    margin-right: 20px;
    padding: 10px 17px;
    border-radius: 5px;
}
.header_left a {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    margin: 0;
    border-radius: 5px;
}
.activeLink{
    background-color: #c2334b;
}
.header_left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_left p {
    font-family: iransansweb;
    color: white;
}
.iconStyle{
    color: white;
}
.iconParent{
    position: relative;

}
.cartCount{  
    background-color: #da0021;
    position: absolute;
    top: 2px;
    width: 22px;height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 9px;
    border-radius: 100%;
    font-size: 13px;
}
.logoParent{
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right p {
    font-family: iransansweb;
}
.logoParent_Img{
    width: 100%;
    height: auto;
}
.header_right a{
    color: white;
    text-decoration: none;
    font-family: iransansweb;
}
.menu{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: #C71F37;
    font-family:iransansweb;
    align-items: center;
    padding: 0 20px;
    color: white;
    list-style: none;
}
.menu li{
    margin: 0 0 0 20px;
}