.parent_features{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-family: iransansweb;
}
.parent_features p{
    margin-top: 10px;
    font-size: 13px;
    pointer-events: none;
}
.imgParent{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgParent img{
    width: 100%;
    height: auto;
    pointer-events: none;
}



@media only screen and (max-width : 460px ){
    .parent_features p{
        margin-top: 10px;
        font-size: 12px;
        pointer-events: none;
    }
    .imgParent{
        width: 35px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}