.parent{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(220px , 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
}

.parent_features{
    width: auto;
    height: auto;
    background-color:  rgb(255, 207, 207);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.imgParent{
    width: 170px;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}
.imgParent img{
    width: 100%;
    height: auto;
}
.parent_features_text {
    height: auto; text-align: center;
}
.parent_features_text p {
    font-family: iransansweb;
    margin: 10px 0;
}
.parent_features_text span{
    font-family: iranyekanweb;
    line-height: 25px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(92, 92, 92);
}




