.parent{
    width: 100%;
    height: auto;
    background-color: #a71e34;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 20px;
    
    text-align: center;
}
.parent p {
    font-family: iransansweb;
    font-size: 12px;
    color: white;
    padding: 7px 0;
}