.parent{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 9999;    
}
.centerSearch{
    width: 100%;
    z-index: 99999;
    position: relative;
    left: 0;
}
.mainSearch{
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    position: fixed;
    border-radius: 0 0 15px 0;
    padding: 0 20px 20px 20px;
    border: 3px solid #a71e34;
    border-top: none;
    box-shadow: 0 1px 3px 0 rgb(82, 82, 82);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.arrow{
    height: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top:-18px;
    left: 20px;
}
.header{
    width: 100%;
    border-bottom: 1px solid rgba(160, 31, 31, 0.384);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.title{
    font-family: iranyekanweb;
    text-align: center;
    font-weight: 700;
}
.group{
    margin-top: 15px;
    position: relative;
}
.groupName{
    text-align: right;
    font-family: iranyekanweb;
    font-size: 14px;
}

.group input{
    width: 100%;
    height: 35px;
    outline: none;
    padding: 0 10px 0 32px;
    font-family: iransansweb;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
}
.inputName{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoTextParent{
    width: 200px;
    right: 0;
    background-color: rgb(161, 175, 255);
    border-radius: 8px;
    position: absolute;
    padding: 10px;
    display: none;
  
}
.infoText{
    font-size: 13px;
    font-family:  iransansweb;
}
.infoParent{
    width: 20px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
}

.info{
    color: rgb(0, 0, 194);
    border-radius: 100%;
}
.infoParent:hover .infoTextParent{
    display: block;
    cursor: pointer;
}
.infoText{
    font-size: 13px;
    font-family:  iransansweb;
}
.iconArrow{
    position: absolute;
    left: -14px;
    top: 32%;
    color: rgb(161, 175, 255);
}
.inputIcon{
    position: absolute;
    top: 37px;
    left: 10px;
    color: gray;
    display: flex;
    align-items: center;
}
.submitSearchBtn{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    font-family: iransansweb;
    color: white;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0);
    margin-top: 20px;
    background-color: brown;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.header button{
    border: none;
    outline: none;
    color: brown;
    background-color: transparent;    
    cursor: pointer;
}