.itemParent{
    margin: 0 7px;
    position: relative;
}
.item{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    overflow: hidden;
    /* position: relative; */
    border-bottom-left-radius: 60px 20px;
    border-bottom-right-radius: 60px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.imgParent{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.imgParent img{
    width: auto;
    height: 70%;
    pointer-events: none;
}
.item_header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.item_header img{
    width: 18px;
    height: 18px;
}
.header_offPrice{
    width: 120px;
    height: 20px;
    background-color: rgb(190, 36, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: iransansweb;
    font-size: 13px;
    /* border-radius: 20px 20px 0 0; */
    border-top-right-radius: 60px 11px;
    border-top-left-radius: 60px 11px;
    position: absolute;
    top: -20px; 
}
.header_offPrice p{
    margin-left: 2px;
}
.likeActive{
    color: rgb(0, 131, 44);
}
.likeNotActive{
    color: rgb(61, 61, 61);
}
.rateParent{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 12px;
    background-color: rgb(255, 240, 240);
    border-radius: 0 0 0 15px;
    font-family: iransansweb;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
}
.rateParent span{
    color: rgb(99, 98, 98);
    margin-left: 5px;
}
.rateParent p{
    margin-left: 3px;
}
.rateParent div{
    background-color: transparent;

    cursor: pointer;
    color: rgb(0, 0, 0);
}
.rateParent div:nth-child(1){
    color: rgb(0, 0, 0);
}
.titleParent{
    width: 100%;
    font-family: iransansweb;
    margin-top: 10px;
    padding: 0 20px;
}
.title{
    text-align: left;
    font-size: 14px;
}
.parent a {
    width: 100%;
    height: 100%;
}
.item_footer{
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(172, 106, 106, 0.233);
    margin: 20px  0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: iranyekanweb , iransansweb;
    font-size: 14px;
    
}
.itemOffPrice{
    color: red;
}
.itemActionParent{
    width: 100%;
    height: auto;
    background-color: rgb(236, 235, 235);
}
.itemAcrion{
    width: 100%;
    outline: none;
    border: none;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: iransansweb;
    padding: 9px 0;
    font-size: 13px;
    cursor: pointer;
    margin-top: 0px;
}
.itemAcrionActive{
    background-color: rgb(0, 83, 4);
    font-size: 13px;
    cursor: pointer;
    font-size: 13px;
    padding: 9px 0;
    font-family: iransansweb;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.itemAcrion p{
    margin-right: 5px;
}

