.item{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}

.imgParent{
    width: 100%;
    height: 200px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.imgParent img{
    width: auto;
    height: 70%;
    pointer-events: none;
}
.like_bookMark_parent{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.likeParent{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 12px;
    background-color: rgb(255, 240, 240);
    border-radius: 0 0 0 15px;
    opacity: 1;
    font-family: iransansweb;
    font-size: 14px;
}
.likeParent span{
    color: rgb(99, 98, 98);
    margin-left: 5px;
}
.likeParent p{
    margin-left: 3px;
}
.item:hover .likeParent{
    opacity: 1;
}
.likeParent div{
    background-color: transparent;

    cursor: pointer;
    color: rgb(0, 0, 0);
}
.likeParent div:nth-child(1){
    color: rgb(0, 0, 0);
}


/* -------------------------------------------------------------------------------------------------------------------------- */

.titleParent{
    width: 100%;
    font-family: iransansweb;
    margin-top: 10px;
    padding: 0 20px;
}


/* -------------------------------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------------------------------- */





.footer{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
}
.price{
    background-color: rgb(255, 211, 211);
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-family: iransansweb;
    font-size: 14px;
}
.price p:nth-child(1){
    text-decoration: line-through;
}
.price p:nth-child(2){
    background-color: white;
    padding:0 5px;
    margin: 5px 0;
    border-radius: 5px;
}
.addToCartParent{
    display: flex;
    align-items: center;
    color: rgb(179, 0, 0);

}
.addToCartParent p{
    margin: 0 2px;
    font-family: iransansweb;
    color: black;
    font-weight: bold;
}
.addTodoBtn{
    padding: 7px 15px;
    font-family: iransansweb;
    border-radius: 5px;
    border: none;
    background-color: rgb(192, 56, 56);
    color: white;
    cursor: pointer;
    font-size: 13px;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0);
}
.addToCartParent  a{
    padding: 7px 15px;
    font-family: iransansweb;
    border-radius: 5px;
    background-color: rgb(23, 82, 0);
    color: white;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    
    box-shadow: 0 0 3px 0 rgb(0, 0, 0);
}

.addToCartBtn {
    outline: none;
    background-color: transparent;
    border: none; 
    color: rgb(179, 0, 0);
}
.trashBtn{
    border:none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
    color: rgb(179, 0, 0);
}







































