/* 
.swiper {
    width: 100%;
    height: 100%;

  }
  .sliderParent .swiper-wrapper{
    border-radius: 10px;
  }
  .sliderParent .swiper-button-next ,  .sliderParent  .swiper-button-prev{
    background-color: rgba(0, 0, 0, 0.445);
    width: 37px;
    height: 70px;

  }
  .sliderParent .swiper-button-next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  .sliderParent .swiper-button-prev {
    left: 0;
    border-radius: 0 10px 10px 0px;
  }
 .sliderParent .swiper-button-next::after, .sliderParent  .swiper-button-prev::after { 
    font-size: 16px;
    color: white;
   }

 .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
  }
  
  .sliderParent .swiper-slide img {
    width: 100%;
    height: 100%;
  } 






  @media only screen and (min-width : 320px){
    .sliderParent .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 200px;
    }
    
}
@media only screen and (min-width : 460px){
 .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 280px;
  }
}
@media only screen and (min-width : 600px){
 .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 280px;
  }
}
@media only screen and (min-width : 720px){
  .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 350px;
  }
}
@media only screen and (min-width : 800px){
 .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 390px;
  }
}
@media only screen and (min-width : 960px){
  .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 450px;
  }
}
@media only screen and (min-width : 1080px){
  .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px;
  }
}
@media only screen and (min-width : 1180px){
  .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px;
  }
}
@media only screen and (min-width : 1260px){
 .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px;
  }
}
@media only screen and (min-width : 1366px){
 .sliderParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px;
  }
} */





.sliderSwiperParent .swiper {
  width: 100%;
  height: 100%;

}
.sliderSwiperParent .swiper-wrapper{
  border-radius: 10px;
}
.sliderSwiperParent .swiper-button-next ,  .swiper-button-prev{
  background-color: rgba(0, 0, 0, 0.445);
  width: 37px;
  height: 70px;

}
.sliderSwiperParent .swiper-button-next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.swiper-button-prev {
  left: 0;
  border-radius: 0 10px 10px 0px;
}
.sliderSwiperParent .swiper-button-next::after,.sliderSwiperParent   .swiper-button-prev::after { 
  font-size: 16px;
  color: white;
 }

 .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 200px;
}

.sliderSwiperParent .swiper-slide img {
  width: 100%;
  height: 100%;
} 






@media only screen and (min-width : 320px){
  .sliderSwiperParent .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
  }
  
}
@media only screen and (min-width : 460px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 280px;
}
}
@media only screen and (min-width : 600px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 280px;
}
}
@media only screen and (min-width : 720px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 350px;
}
}
@media only screen and (min-width : 800px){
  .sliderSwiperParent  .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 390px;
}
}
@media only screen and (min-width : 960px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 450px;
}
}
@media only screen and (min-width : 1080px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 500px;
}
}
@media only screen and (min-width : 1180px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 500px;
}
}
@media only screen and (min-width : 1260px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 500px;
}
}
@media only screen and (min-width : 1366px){
  .sliderSwiperParent .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 500px;
}
}